name: Build testing kernel
on:
  workflow_run:
    workflows:
      - "Preparing for build"
    types:
      - completed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Maximizing build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'

      - name: Waiting for new commit to settle
        run: sleep 10

      - name: Checking out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Building the stable Kernel
        run: ./build.sh testing

      - name: Uploading as artifact
        uses: actions/upload-artifact@v2
        with:
          name: stable-kernel
          retention-days: 1
          path: |
            bzImage-testing
            modules-testing.tar.xz
            headers-testing.tar.xz
